@model MicroSocialPlatform.Models.Comment
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm(actionName: "Edit", controllerName: "Comments"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.Label("Content", "Continutul Comentariului")
    <br />
    @Html.EditorFor(m => m.Content)
    <br />
    <br />
    <label>Data</label>
    <br />
    <input type="text" name="Date" value="@ViewBag.Comment.Date" />
    <br />
    <button type="submit">Modifica comentariul</button>

}

