
@{
    ViewBag.Title = "Edit";
}

<form method="post" action="/Comments/Edit/@ViewBag.Comment.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br /> <input type="text" name="Content" value="@ViewBag.Comment.Content" />
    <br /><br />
    <label>Data</label>
    <br /> <input type="text" name="Date" value="@ViewBag.Comment.Date" />
    <br />
    <button type="submit">Modifica comentariul</button>
</form>


