@model MicroSocialPlatform.Models.Post
@{
    ViewBag.Title = "New";
}

@using (Html.BeginForm(actionName: "New", controllerName: "Posts"))
{
    <label>Adauga postare</label>
    <br />
    @Html.Label("Content", "Continut Postare:")
    @Html.TextArea("Content", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger " })
    <input type="hidden" name="Date" value="@DateTime.Now" />
    <br />
    <button type="submit">Posteaza</button>
}
